REDSYS_MERCHANT_CODE=tu_codigo_de_comercio
REDSYS_SECRET_KEY=tu_clave_secreta
REDSYS_TERMINAL=1
REDSYS_MODE=test
REDSYS_CURRENCY=978
NEXT_PUBLIC_SITE_URL=http://localhost:3000
YOUTUBE_API_KEY=tu_clave_de_api_de_youtube_data_v3
BANK_TRANSFER_ACCOUNT_HOLDER=
BANK_TRANSFER_IBAN=
BANK_TRANSFER_BIC=
